{% import "_default/macro.tabler.twig" as tabler %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>When digital invoicing meets ancient Egypt</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Language" content="en" />
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="theme-color" content="#4188c9">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="stylesheet" href="/tabler--core/dist/css/tabler.min.css" />
	<link rel="stylesheet" href="/tabler--core/dist/css/tabler-flags.min.css" />
	<link rel="stylesheet" href="/tabler--core/dist/css/tabler-payments.min.css" />
	<link rel="stylesheet" href="/tabler--core/dist/css/tabler-vendors.min.css" />
	<link rel="stylesheet" href="/select2/dist/css/select2.min.css" />
	<link rel="stylesheet" href="/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css" />
	<link rel="stylesheet" href="/font-awesome/css/all.min.css"/>
	<link rel="stylesheet" href="/tabler-icons.min.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
	<link rel="stylesheet" href="/intl-tel-input/build/css/intlTelInput.css">
	<link rel="stylesheet" href="/base.css?v=20250820" />

	{% block header_css %}{% endblock header_css %}

	<script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<div class="page">
		{% if environment != 'production' %}
			<div class="alert alert-warning text-center mb-0 rounded-0 text-center d-block" role="alert">
				<strong>{% trans 'Notice' %}</strong>: {% trans 'You are currently working in a test environment.' %} {% trans 'All data and actions performed here are for testing purposes only and will not affect the live system.' %}
			</div>
		{% endif %}
		<header class="navbar navbar-expand-md d-print-none">
			<div class="container-xl">
				<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
					<a href="/" style="font-family: 'Gloria Hallelujah', sans-serif;">
						<img src="/peppyrus.png" class="navbar-brand-image" style="height: 36px;">
					</a>
				</div>
				<ul class="navbar-nav flex-row order-md-last">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
							{% if user.picture_id is not empty %}
								<span class="avatar avatar-sm" style="background-image: url('/customer/profile/personal?action=picture&tstamp={{ 'now'|date('U') }}');"></span>
							{% else %}
								<span class="avatar avatar-sm">
									{% if user.admin %}
										{{ tabler.icon('user-cog') }}
									{% elseif admin_user is defined %}
										{{ tabler.icon('user-share', 'text-danger') }}
									{% else %}
										{{ tabler.icon('user') }}
									{% endif %}
								</span>
							{% endif %}

							<div class="d-none d-xl-block ps-2">
								<div>
									{% if user.firstname is empty and user.lastname is empty %}
										{{ user.email }}
									{% else %}
										{{ user.firstname }} {{ user.lastname }}
									{% endif %}
								</div>
								<div class="text-secondary">
									<small>
										{{ organization.name}}
										{% if admin_user is defined %}
											<span class="text-danger"> ({{ tabler.icon('user-gear') }} {{ admin_user.email }})</span>
										{% endif %}
									</small>
								</div>
							</div>
						</a>
						<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
							{% set organizations = user.get_organizations() %}
							{% if organizations|length > 1 %}
								{% for organization in organizations %}
									<a {% if env.session.organization.id != organization.id %}href="/login?action=select&id={{ organization.id }}"{% endif %} class="dropdown-item{% if env.session.organization.id == organization.id %} active{% endif %}">
										{{ tabler.icon('building') }} {{ organization.name }}
									</a>
									{% if loop.last %}
										<div class="dropdown-divider"></div>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if user.admin == 0 %}
								<a class="dropdown-item" href="/customer/profile">
									{{ tabler.icon('id-badge') }} {% trans "Profile" %}
								</a>
								<div class="dropdown-divider"></div>
							{% endif %}
							<a class="dropdown-item" href="/login?action=logout">
								{{ tabler.icon('logout') }} {% trans "Log out" %}
							</a>
						</div>
					</li>
				</ul>
				<div id="navbar-menu" class="collapse navbar-collapse">
					<div class="ms-4">
						{% if user.admin %}
							{% include "_default/menu.admin.twig" %}
						{% else %}
							{% include "_default/menu.user.twig" %}
						{% endif %}
					</div>
				</div>
			</div>
		</header>
		<div class="page-wrapper">
			<div class="page-header d-print-none">
				<div class="container-xl">
					<div class="row g-2 align-items-center">
						<div class="col">
							<h2 class="page-title">
								{% block header_title %}{% endblock header_title %}
							</h2>
						</div>

						<div class="d-none d-md-inline-block col-md-8" >
						{% if env.module.get_module_path() != "/index" %}
							<ol class="breadcrumb" aria-label="breadcrumbs">
								<li class="breadcrumb-item ms-auto">
									<a href="/">{% trans "Home" %}</a>
								</li>
								{% block header_breadcrumb %}{% endblock header_breadcrumb %}
							</ol>
						{% endif %}
						</div>
					</div>

				</div>
			</div>
			<div class="page-body">
				<div class="container-xl">
					{% block content %}{% endblock content %}
				</div>
			</div>
		</div>
		<footer class="footer footer-transparent d-print-none">
			<div class="container-xl">
				<div class="row text-center align-items-center flex-row-reverse">
					<div class="col-lg-auto ms-lg-auto">
						<ul class="list-inline list-inline-dots mb-0">
							<li class="list-inline-item">
								{% for language in languages %}
									{% if language.id == env.session.language.id %}
										<strong>{{ language.name_short|upper }}</strong>
									{% else %}
										<a class="link-secondary" href="?language={{ language.name_short }}">{{ language.name_short|upper }}</a>
									{% endif %}
									{% if loop.last == false %} - {% endif %}
								{% endfor %}
							</li>
							<li class="list-inline-item"><a href="{{ api_url }}" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
						</ul>
					</div>
					<div class="col-12 col-lg-auto mt-3 mt-lg-0">
						<ul class="list-inline list-inline-dots mb-0">
							<li class="list-inline-item">
								Copyright © 2025
								<a href="http://peppyrus.be" class="link-secondary">Peppyrus</a>.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="/select2/dist/js/select2.full.min.js"></script>
	<script src="/tabler--core/dist/js/tabler.min.js"></script>
	<script src="/tigron-confirm-modal/js/bootstrap.confirm-modal.js"></script>
	<script src="/intl-tel-input/build/js/intlTelInput.min.js"></script>
	<script src="/base.js?v=20250612"></script>
	{% if environment != 'development' and env.session.admin_user is not defined %}
		<script>
			(function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
				w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
				m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://mautic.tigron.be/mtc.js','mt');

			{% if env.session.user is defined %}
				mt('send', 'pageview', {firstname: '{{ env.session.user.firstname }}', lastname: '{{ env.session.user.lastname }}', email: '{{ env.session.user.email }}', tags: 'peppyrus' });
			{% else %}
				mt('send', 'pageview', { tags: 'peppyrus' });
			{% endif %}
		</script>
	{% endif %}
</body>
</html>
